<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{title}}</title>

    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    
    {{!-- Template Admin --}}
    <link href="/css/styles.css" rel="stylesheet" />
    
    {{!-- Personalizados --}}
    <link href="/css/home.css" rel="stylesheet" />
    <link href="/css/planta.css" rel="stylesheet" />

    {{!-- Icons do Template --}}
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

    <div class="logo-container">
        <img src="/images/logo.png" alt="Logo" class="sidebar-logo">
        <h1 class="logo-nome">Irriga<span>+</span></h1>
    </div>

    <nav class="sb-topnav navbar">
        <div class="user-info">
            <i class="fa-solid fa-circle-user"></i>
            <span>Mateus Viana</span>         
        </div>
    </nav>


    <!-- Sidebar + Content -->
    <div id="layoutSidenav">
        <!-- Sidebar -->
        <div id="layoutSidenav_nav">      
                <nav class="sb-sidenav accordion" id="sidenavAccordion" style="background-color: #123E34;">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <button class="nav-button">            
                                <i class="fa-solid fa-house"></i>
                                <span>Início</span>
                            </button>
                            <button class="nav-button">            
                                <i class="fa-solid fa-seedling" ></i>
                                <span>Plantas</span>
                            </button>
                            <button class="nav-button" href="index.html">            
                                <i class="fa-solid fa-list-check"></i>
                                <span>Rotinas</span>
                            </button>
                            <button class="nav-button" href="/sensor">            
                                <i class="fa-solid fa-tower-broadcast"></i>
                                <span>Sensores</span>
                            </button>
                            <button class="nav-button" href="index.html">            
                                <i class="fa-solid fa-chart-line"></i>
                                <span>Dashboard</span>
                            </button>
                            <button class="nav-button" href="index.html">            
                                <i class="fa-solid fa-file-lines"></i>
                                <span>Relatórios</span>
                            </button>                          
                            {{!-- <div class="sb-sidenav-menu-heading">Addons</div> --}}
                            {{!-- <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a> --}}
                        </div>
                    </div>
                    {{!-- <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div> --}}
                </nav>
        </div>

        <!-- Main Content -->
        <div id="layoutSidenav_content">
            <main>
                {{{body}}}  
            </main>
           
        </div>
    </div>

    <!-- Scripts -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
</body>
</html>
